In [42]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [43]:
df=pd.read_csv("/Users/madhanmetha/Downloads/HomePrice.csv")
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [44]:
model=LinearRegression()

In [45]:
x=df["area"]

In [46]:
# or

In [47]:
x=df.drop(columns=['price'])
y=df['price']

In [48]:
x

   area
0  2600
1  3000
2  3200
3  3600
4  4000

In [49]:
y

0    550000
1    565000
2    610000
3    680000
4    725000
Name: price, dtype: int64

In [65]:
model=LinearRegression()
x=df.drop(columns=['price'])
y=df['price']
model.fit(x,y)
model.predict([[13300]])

/opt/anaconda3/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([1986592.46575342])